@media (max-width: 550px) {
  main {
    flex-grow: 1 !important;
    overflow: auto !important;
  }

  .aboutImage {
    width: 300px;
    height: 100px;
    object-fit: cover;
  }

  .ant-spin-container .ant-list-item>.ant-list-item-meta {
    align-items: center;
  }

  .ant-list-item-meta-content {
    text-align: right;
  }

  .ant-spin-container .ant-list-item .ant-list-item-action {
    width: 100%;
    text-align: right;
    margin-left: auto;
  }

  .ant-spin-container .ant-list-item .ant-list-item-action>li:last-child {
    padding-right: 0 !important;
  }
}