.active{
  border-bottom: 1px solid #fff;
}
a:hover{
  color: #40a9dc;
}

a:active{
  color: #096db6;
  transition: color 250ms linear;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100vh;
  /*width: 100vw;*/
}

main{
  padding: 30px 100px;
}